<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- <base href="/">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Template Basic Images Start-->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="~/templatefile/img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/templatefile/img/favicon/apple-touch-icon-180x180.png">
    <!-- Template Basic Images End-->
    <!-- Custom Browsers Color Start-->
    <meta name="theme-color" content="#000">
    <!-- Fonts-->
    <link rel="stylesheet" href="~/templatefile/libs/pagePiling/jquery.pagepiling.min.css">
    <link rel="stylesheet" href="~/templatefile/css/main.min.css">
    <link rel="stylesheet" href="~/templatefile/css/rtl.css">
	<link href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <title> Parisa Sayadi Resume</title>
    <meta name="description" content="">
</head>
<body>
@RenderBody()
    <!--Content END-->
    <aside class="alx-aside-sidebar alx-aside-sidebar__dark alx-bg-img" id="alx-sidebar" data-image="/TemplateFile/images/bg2_blur.jpg">
        <div class="alx-lang-change">
            <ul>
                <li class="current-lang"><a href="#">فارسی</a></li>
                <li><a href="index-en.html">EN</a></li>
            </ul>
        </div><a class="alx-burger alx-burger__open" href="#"><span></span></a>
        <div class="alx-sidebar-widget">
            <h5>سلام!</h5><img class="img-responsive" src="/TemplateFile/images/person.jpg" alt="">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        </div>
        <hr>
        <div class="alx-sidebar-menu">
            <ul>
                <li><a href="#page1">صفحه اصلی</a></li>
                <li><a href="#page2">درباره</a></li>
                <li><a href="#page3">خدمات</a></li>
                <li><a href="#page4">مهارت ها</a></li>
                <li><a href="#page5">قیمت ها</a></li>
                <li><a href="#page6">نمونه کارها</a></li>
                <li><a href="#page7">نظرات</a></li>
                <li><a href="#page8">مشتریان</a></li>
                <li><a href="#page9">تماس</a></li>
            </ul>
        </div>
        <div class="alx-social-links__2">
            <ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
        <div class="alx-copyright">© 1WebStar 2019. تمامی حقوق محفوظ است<br>طراحی و توسعه توسط<a href="https://1webstar.ir" target="blanc"> <strong> تک ستاره وب</strong></a></div>
    </aside>
    <div class="alx-aside-sidebar__overlay"></div>
    <!--Libs-->
    <script src="~/templatefile/libs/pace/pace.min.js"></script>
    <script src="~/templatefile/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/templatefile/libs/pagePiling/jquery.pagepiling-rtl.js"></script>
    <script src="~/templatefile/libs/waypoints/waypoints.min.js"></script>
    <script src="~/templatefile/libs/match-height/match-height.js"></script>
    <script src="~/templatefile/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/templatefile/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/templatefile/libs/isotope/isotope.pkgd.min.js"></script>
    <script src="~/templatefile/libs/animate/animate-css.js"></script>
    <script src="~/templatefile/libs/tilt/tilt.js"></script>
    <script src="~/templatefile/libs/slick/slick.min.js"></script>
    <script src="~/templatefile/libs/canvas-bg/particles.min.js"></script>
    <script src="~/templatefile/libs/readmore/readmore.min.js"></script>
@*     <script src="~/templatefile/libs/fluidWave/fluidWave.js"></script> *@
    <!--Use scripts-->
	<script src="~/templatefile/js/common.js"></script>
	<script src="~/lib/sweetalert2/extended-ui-sweetalert2.js"></script>
	<script src="~/lib/sweetalert2/sweetalert2.js"></script>

    @RenderSection("script",false)
</body>
</html>
